In [15]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from tqdm import tqdm
pd.set_option('display.float_format', lambda x: '%.6f' % x)
import warnings
warnings.filterwarnings("ignore")

In [2]:
data_raw = pd.read_csv('../../data/data_raw.txt', delimiter=',')

In [3]:
data_raw

,app,func,end_timestamp,duration
0,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,e3cdb48830f66eb8689cc0223514569a69812b77e6611e...,0.079491,0.078000
1,1573b95c039e51cc012b543a4af3bc7c3ee9485acbb003...,337cd24a7d5fd5c92460faee4ebe6a186a0eb322bd17b7...,57.157860,57.154000
2,1573b95c039e51cc012b543a4af3bc7c3ee9485acbb003...,48cc770d590d3c5a7691b3b4e9302f82ec3be5ddc2a037...,59.130478,59.125000
3,f274d71de386ccc77e4ca74766dbc485461c3053059d47...,3d2aee54a133509f16fb636d74128c2adcfcac71c6dcef...,6.252541,6.236000
4,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,68bbfd828223a505d7917339f4656c5f33ff93225cdb9d...,0.066824,0.050000
...,...,...,...,...
1980946,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,1209596.701017,0.001000
1980947,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,1209598.191409,0.001000
1980948,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,1209598.561519,0.001000
1980949,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,1209598.628382,0.001000
1980950,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,1209599.694464,0.001000

In [4]:
data_raw["start_timestamp"] = data_raw["end_timestamp"] - data_raw["duration"]
data_raw.drop(columns=["end_timestamp"], inplace=True)
start_date = datetime(2021, 1, 31)
data_raw['actual_timestamp'] = data_raw['start_timestamp'].apply(lambda x: start_date + timedelta(seconds=x))
data_raw

,app,func,duration,start_timestamp,actual_timestamp
0,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,e3cdb48830f66eb8689cc0223514569a69812b77e6611e...,0.078000,0.001491,2021-01-31 00:00:00.001491
1,1573b95c039e51cc012b543a4af3bc7c3ee9485acbb003...,337cd24a7d5fd5c92460faee4ebe6a186a0eb322bd17b7...,57.154000,0.003860,2021-01-31 00:00:00.003860
2,1573b95c039e51cc012b543a4af3bc7c3ee9485acbb003...,48cc770d590d3c5a7691b3b4e9302f82ec3be5ddc2a037...,59.125000,0.005478,2021-01-31 00:00:00.005478
3,f274d71de386ccc77e4ca74766dbc485461c3053059d47...,3d2aee54a133509f16fb636d74128c2adcfcac71c6dcef...,6.236000,0.016541,2021-01-31 00:00:00.016541
4,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,68bbfd828223a505d7917339f4656c5f33ff93225cdb9d...,0.050000,0.016824,2021-01-31 00:00:00.016824
...,...,...,...,...,...
1980946,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,0.001000,1209596.700017,2021-02-13 23:59:56.700017
1980947,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,0.001000,1209598.190409,2021-02-13 23:59:58.190409
1980948,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,0.001000,1209598.560519,2021-02-13 23:59:58.560519
1980949,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,0.001000,1209598.627382,2021-02-13 23:59:58.627382
1980950,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,0.001000,1209599.693464,2021-02-13 23:59:59.693464

In [5]:
data_raw[["start_timestamp", "duration"]].describe()

       start_timestamp       duration
count   1980951.000000 1980951.000000
mean     566354.801680       3.347944
std      351825.996676      18.507169
min           0.001491       0.000000
25%      249727.212153       0.001000
50%      503997.671391       0.031000
75%      870152.074815       0.372000
max     1209599.693464     578.620000

In [6]:
len(data_raw["app"].unique())

119

In [7]:
data_raw.loc[0]["app"]

'7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de05270735055950a568'

In [8]:
filtered_df = data_raw[data_raw['app'] == "7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de05270735055950a568"]
filtered_df

,app,func,duration,start_timestamp,actual_timestamp
0,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,e3cdb48830f66eb8689cc0223514569a69812b77e6611e...,0.078000,0.001491,2021-01-31 00:00:00.001491
4,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,68bbfd828223a505d7917339f4656c5f33ff93225cdb9d...,0.050000,0.016824,2021-01-31 00:00:00.016824
78,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,68bbfd828223a505d7917339f4656c5f33ff93225cdb9d...,0.082000,300.012732,2021-01-31 00:05:00.012732
79,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,e3cdb48830f66eb8689cc0223514569a69812b77e6611e...,0.101000,300.015773,2021-01-31 00:05:00.015773
111,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,68bbfd828223a505d7917339f4656c5f33ff93225cdb9d...,0.106000,600.023204,2021-01-31 00:10:00.023204
...,...,...,...,...,...
1977631,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,e3cdb48830f66eb8689cc0223514569a69812b77e6611e...,0.126000,1206300.020460,2021-02-13 23:05:00.020460
1977632,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,df1d3fb6db897cbcc781b141d0af4ca23ee9b37ad5190a...,0.009000,1206300.159422,2021-02-13 23:05:00.159422
1978115,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,e3cdb48830f66eb8689cc0223514569a69812b77e6611e...,0.145000,1206600.029947,2021-02-13 23:10:00.029947
1978116,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,68bbfd828223a505d7917339f4656c5f33ff93225cdb9d...,0.095000,1206600.041140,2021-02-13 23:10:00.041140
1978117,7b2c43a2bc30f6bb438074df88b603d2cb982d3e7961de...,df1d3fb6db897cbcc781b141d0af4ca23ee9b37ad5190a...,0.003000,1206600.195671,2021-02-13 23:10:00.195671

In [9]:
filtered_df["func"].unique()

array(['e3cdb48830f66eb8689cc0223514569a69812b77e6611e3d59814fac0747bd2f',
       '68bbfd828223a505d7917339f4656c5f33ff93225cdb9d0fcbc9889edb49253a',
       'df1d3fb6db897cbcc781b141d0af4ca23ee9b37ad5190ad734a91bbae90127c6',
       'ff64b4b0ac6a3b87f120eb5f53d69617b81f1f795608f97b8d1a25702cbdd67d',
       '32776ea8b5507b855fcf267479c7082c7b3c539edcf8fd19495ab6063b700e35',
       'd27bfa017924425b1190e19ccf79295fcc14416bd14bacee6b97c760a3b0d787',
       'c394a31569e2f9a9f25175d1e87f701a649ec8e38a17b1e12d1f016ca33c9d04',
       'f62907ffee26bcec40684ead17e90f2d009962f0418defd9c3cc5ebe73ace9f1',
       '0bbee84385f06d39c997d8dad3b566b1e719deec0af24c456a2eaa8b1d295527',
       'd51ae62281614df585f2df28a7b24fd69f0f22af9da0f27e693a1a28e100ed38',
       '497779a467949d9a44c71d8949981894840b5b591d850751219542fefc2a5387',
       '8a487f2adac660002f2ad446fd309053068aa5d87c3410c4a78ddeab13057dc7'],
      dtype=object)

In [10]:
for x in filtered_df["func"].unique():
    print(x)

e3cdb48830f66eb8689cc0223514569a69812b77e6611e3d59814fac0747bd2f
68bbfd828223a505d7917339f4656c5f33ff93225cdb9d0fcbc9889edb49253a
df1d3fb6db897cbcc781b141d0af4ca23ee9b37ad5190ad734a91bbae90127c6
ff64b4b0ac6a3b87f120eb5f53d69617b81f1f795608f97b8d1a25702cbdd67d
32776ea8b5507b855fcf267479c7082c7b3c539edcf8fd19495ab6063b700e35
d27bfa017924425b1190e19ccf79295fcc14416bd14bacee6b97c760a3b0d787
c394a31569e2f9a9f25175d1e87f701a649ec8e38a17b1e12d1f016ca33c9d04
f62907ffee26bcec40684ead17e90f2d009962f0418defd9c3cc5ebe73ace9f1
0bbee84385f06d39c997d8dad3b566b1e719deec0af24c456a2eaa8b1d295527
d51ae62281614df585f2df28a7b24fd69f0f22af9da0f27e693a1a28e100ed38
497779a467949d9a44c71d8949981894840b5b591d850751219542fefc2a5387
8a487f2adac660002f2ad446fd309053068aa5d87c3410c4a78ddeab13057dc7

# Count how many times each function was invoked

In [11]:
invocation_count = pd.DataFrame(columns=['app', 'func', 'invocation_count'])

for app in tqdm(data_raw["app"].unique()):
    filtered_df = data_raw.loc[data_raw['app'] == app]
    for func in filtered_df["func"].unique():
        df_to_count = data_raw[(data_raw['app'] == app) & (data_raw['func'] == func)]
        row_count = len(df_to_count)
        invocation_count = pd.concat([invocation_count, pd.DataFrame({'app': [app], 'func': [func], 'invocation_count': [row_count]})], ignore_index=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 119/119 [01:04<00:00,  1.85it/s]

In [12]:
invocation_count = invocation_count.sort_values(by='invocation_count', ascending=False)
invocation_count

,app,func,invocation_count
101,a594f92f84072b4cd031fe5283d1781a6e98f430696dec...,155e47f8e7f751d0c845049456d01832013c61336a8cd8...,535667
277,a9644719e5d173a27e098cffdd5e9227ba9c4a325d082c...,8ef9c2c907e9cd5fb4b5cb3bfbebca6d9a01bb1f65a0f4...,212755
154,7958f89676bf3653f72cda8f38f6b3c0574dcae5169824...,cc5bb2108cc7daf53f9728ad21f661a8ef9c8b36284bac...,142856
254,62ed48c098820db02aa8e99ad41e5438e61334ba7b1618...,4753d9ffc8a362eadfb27498581969561c0ddbec725775...,124143
276,a9644719e5d173a27e098cffdd5e9227ba9c4a325d082c...,bd5be891d0d10fbc3c59215d5f8159ea496433bc41adba...,116130
...,...,...,...
392,60bb8c2ce1c44989ec8d0cbcf561e1eba665ad19370071...,d776907166edfe3772c93e3c7521f139d063952b3393ae...,1
217,a03d8277f9ec95f7202dbb6fbce63466b552f028c9aedf...,533e8c6ff5a51acd3ecec61f638fde2aa8e97116290836...,1
216,a03d8277f9ec95f7202dbb6fbce63466b552f028c9aedf...,03e6f2ee02dabf9c7d4706ed3eef31ba6cbb3749b2f80d...,1
79,a9fd6223e00378edd60a03c721f9345f34d198757a4057...,7c5228df6991eed7018e89163b0514d2e120535feea20b...,1
67,a9fd6223e00378edd60a03c721f9345f34d198757a4057...,e374917dc55ed7244e36f36d40cfb4d00d586f22802986...,1

# Iterate over each function, do feature engineering and save it's data in a file

In [17]:
counter = 1
for index, row in tqdm(invocation_count.iterrows()):

    # generate data for only 100 most frequently used functions
    if counter > 100:
        break

    app = row["app"]
    func = row["func"]
    function = data_raw[(data_raw['app'] == app) & (data_raw['func'] == func)]
    function['second'] = function['start_timestamp'].astype(int)

    # create values (invocation=0) for missing datapoints
    #function = function[["second"]]
    unique_values = function['second'].unique()
    counts = function['second'].value_counts()
    new_range = range(0, 1209601)
    new_values = [x for x in new_range if x not in unique_values]
    new_counts = [0] * len(new_values)

    new_data = {'second': unique_values.tolist() + new_values, 'invocations': counts.tolist() + new_counts}
    new_df = pd.DataFrame(new_data)

    new_df.reset_index(drop=True, inplace=True)
    new_df = new_df.sort_values(by='second', ascending=True)
    new_df

    # convert invocation values -> either 0 or 1
    invocations = new_df["invocations"]
    binary_list = [1 if value >= 1 else 0 for value in invocations]
    new_df["invocations"] = binary_list
    new_df

    # FEATURE ENGINEERING ####################################################

    # Create 'time_since_prev_invocation' feature - time passed since last invocation (in seconds)
    seconds_since_last_invocation = []
    last_invocation_time = 1
    # Iterate through the DataFrame
    for index, row in new_df.iterrows():
        if row['invocations'] == 1:
            seconds_since_last_invocation.append(last_invocation_time)
            last_invocation_time = 1
        else:
            seconds_since_last_invocation.append(last_invocation_time)
            last_invocation_time += 1

    new_df['time_since_prev_invocation'] = seconds_since_last_invocation
    new_df

    function.drop(columns=["app", "func", "duration", "start_timestamp"], inplace=True)
    all_data = pd.merge(new_df, function, on='second', how="left")

    start_date = datetime(2021, 1, 31)
    all_data['actual_timestamp'] = all_data['second'].apply(lambda x: start_date + timedelta(seconds=x))

    # Extract date and time features
    all_data['year'] = all_data['actual_timestamp'].dt.year
    all_data['month'] = all_data['actual_timestamp'].dt.month
    all_data['day'] = all_data['actual_timestamp'].dt.day
    all_data['hour'] = all_data['actual_timestamp'].dt.hour
    all_data['minute'] = all_data['actual_timestamp'].dt.minute
    all_data['second_of_day'] = all_data['actual_timestamp'].dt.hour * 3600 + all_data['actual_timestamp'].dt.minute * 60 + all_data['actual_timestamp'].dt.second
    all_data['is_weekday'] = (all_data['actual_timestamp'].dt.weekday < 5).astype(int)  # 1 for weekday, 0 for weekend

    # The below doesn't help and worsenes the results by a lot
    # Encode the month, day, hour, minute and second_of_day as sine and cosine components
    # (cyclic encoding for periodic features)
    #all_data['month_sin'] = np.sin(2 * np.pi * all_data['month'] / 12)
    #all_data['month_cos'] = np.cos(2 * np.pi * all_data['month'] / 12)
    #all_data['hour_sin'] = np.sin(2 * np.pi * all_data['hour'] / 24)
    #all_data['hour_cos'] = np.cos(2 * np.pi * all_data['hour'] / 24)
    #all_data['minute_sin'] = np.sin(2 * np.pi * all_data['minute'] / 60)
    #all_data['minute_cos'] = np.cos(2 * np.pi * all_data['minute'] / 60)

    #all_data.drop(columns=["month", "hour", "minute"], inplace=True)

    # The below doesn't help and worsenes the results by a lot
    # Calculate rolling window statistics: mean, sum, and standard deviation for 'invocations'
    #window_size = 1000
    #df_shifted = all_data.shift(1) # do not consider current timestep data
    #all_data['invocations_mean'] = df_shifted['invocations'].rolling(window=window_size).mean()
    #all_data['invocations_sum'] = df_shifted['invocations'].rolling(window=window_size).sum()
    #all_data['invocations_std'] = df_shifted['invocations'].rolling(window=window_size).std()

    all_data.drop(columns=["actual_timestamp"], inplace=True)
    all_data.to_csv(f"../../data/training_data/{counter}.txt")
    counter += 1

100it [37:00, 22.20s/it]

In [18]:
all_data

,second,invocations,time_since_prev_invocation,year,month,day,hour,minute,second_of_day,is_weekday
0,0,0,1,2021,1,31,0,0,0,0
1,1,0,2,2021,1,31,0,0,1,0
2,2,0,3,2021,1,31,0,0,2,0
3,3,0,4,2021,1,31,0,0,3,0
4,4,0,5,2021,1,31,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...
1209596,1209596,0,113,2021,2,13,23,59,86396,0
1209597,1209597,0,114,2021,2,13,23,59,86397,0
1209598,1209598,0,115,2021,2,13,23,59,86398,0
1209599,1209599,0,116,2021,2,13,23,59,86399,0
1209600,1209600,0,117,2021,2,14,0,0,0,0